In [1]:
import pandas, numpy, seaborn

In [2]:
wildfire = pandas.read_csv('data.csv')

In [3]:
wildfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997218 entries, 0 to 997217
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      997218 non-null  object
 1   province  997218 non-null  object
 2   district  997218 non-null  object
 3   ward      997218 non-null  object
 4   long      997218 non-null  float64
 5   lat       997218 non-null  float64
dtypes: float64(2), object(4)
memory usage: 45.6+ MB

In [4]:
wildfire.describe()

                long            lat
count  997218.000000  997218.000000
mean      106.310183      15.550513
std         1.988784       4.329136
min       102.149590       8.564512
25%       104.825000      11.988500
50%       106.897970      14.093000
75%       107.985610      20.945000
max       109.457030      23.385000

In [5]:
wildfire.nunique()

date          3702
province        63
district       681
ward          6621
long        149413
lat         170486
dtype: int64

In [6]:
wildfire['province'].unique()

array(['Bắc Giang', 'Lào Cai', 'Sóc Trăng', 'Sơn La', 'Bạc Liêu',
       'Bình Dương', 'Hà Tĩnh', 'Quảng Ninh', 'Quảng Nam', 'Tây Ninh',
       'Lâm Đồng', 'Ninh Thuận', 'Bình Phước', 'Bình Định', 'Thái Nguyên',
       'Hà Nam', 'Hà Nội', 'Thanh Hoá', 'Hải Dương', 'Cần Thơ',
       'Tuyên Quang', 'Tiền Giang', 'Lạng Sơn', 'Đà Nẵng', 'Long An',
       'Đồng Nai', 'Điện Biên', 'Gia Lai', 'Lai Châu', 'Kiên Giang',
       'Hồ Chí Minh', 'Bà Rịa-Vũng Tàu', 'Phú Yên', 'Quảng Bình',
       'Quảng Trị', 'Khánh Hòa', 'Thừa Thiên Huế', 'Bình Thuận',
       'Kon Tum', 'Quảng Ngãi', 'Đắk Lắk', 'Đồng Tháp', 'Nghệ An',
       'Đắk Nông', 'An Giang', 'Vĩnh Long', 'Bến Tre', 'Hòa Bình',
       'Cao Bằng', 'Bắc Kạn', 'Yên Bái', 'Hà Giang', 'Ninh Bình',
       'Phú Thọ', 'Vĩnh Phúc', 'Bắc Ninh', 'Hưng Yên', 'Nam Định',
       'Cà Mau', 'Hậu Giang', 'Hải Phòng', 'Thái Bình', 'Trà Vinh'],
      dtype=object)

In [12]:
province_count = wildfire.groupby(['province']).size().sort_values(ascending=False)

province
Gia Lai      109950
Điện Biên    103178
Kon Tum       86203
Đắk Lắk       85827
Sơn La        73926
              ...
Hải Phòng       721
Vĩnh Phúc       411
Nam Định        338
Thái Bình       260
Hưng Yên        255
Length: 63, dtype: int64